body{
	margin: 0;
	padding: 0;
}

#pict-1{
	height: 100vh;
	width: 100%;
	background-image: url(images/web_home_back.jpg);
	background-size: cover;
}
#pict-2{
	height: 100vh;
	width: 100%;
	background-image: url(images/web_home_back.jpg);
	background-size: cover;
}
#pict-3{
	height: 100vh;
	width: 100%;
	background-image: url(images/web_home_back.jpg);
	background-size: cover;	
}
