
html, body{
	height: 100%;
}
.dabe {
	display: table;
	margin: auto;
	background-image: url('images/dave_option2.png');
	flex-direction: column;
	text-align: right;
	width: 25%;
	height: 45%;
	float: right;
}


body{
	
	background-image: url('dabe_back.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: right;
}
.container
{
	width: 600px;
	margin: 0 auto;
	text-align: right;
	justify-content: right;
}


.name{
	color: #ffffff;
	font: 900 96px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	margin-bottom: 24px;
	text-align: right;
}
.cur {
	color: #ffffff;
	font: 900 96px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	margin-bottom: 24px;
	text-align: right;
}

.content.right {
	float: right;
}
.btn {
	border-radius: 9px;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	font-family: 'Century Gothic', sans-serif;
	border: 3px solid;
	padding: 7px 13px;
	font-weight: bold;
	text-align: center;
}
.btn:hover{
	color: #00ff00 ;
}